/* Убираем отступы у body и задаем черный фон */
body {
  margin: 0; /* Убираем все отступы по умолчанию */
  background-color: black; /* Устанавливаем черный цвет фона */
}

/* Главный контейнер */
.pre_page_window_container {
  position: absolute; /* Абсолютное позиционирование относительно ближайшего родителя с относительным позиционированием */
  width: 100vw; /* Ширина контейнера равна ширине окна браузера */
  height: 100vh; /* Высота контейнера равна высоте окна браузера */
  background: rgb(63, 113, 96);
  background: linear-gradient(
    122deg,
    rgba(63, 113, 96, 1) 0%,
    rgba(58, 144, 113, 1) 30%,
    rgba(63, 122, 83, 1) 61%,
    rgba(73, 107, 75, 1) 100%
  );
}

/* Контейнер для изображения */
.pre_page_window_img_container {
  position: absolute; /* Абсолютное позиционирование */
  width: 1000px; /* Ширина контейнера 500 пикселей */
  height: 88%; /* Высота контейнера 500 пикселей */
  overflow: hidden; /* Скрываем содержимое, выходящее за пределы контейнера */
  border-radius: 0 0% 100% 0 / 0 0% 100% 0;
  left: 0; /* Располагаем контейнер слева */
  top: 0; /* Располагаем контейнер сверху */
 
}

/* Стиль для изображения внутри контейнера */
.pre_page_window_img_container img {
  width: 100%; /* Ширина изображения заполняет весь контейнер */
  height: 100%; /* Высота изображения заполняет весь контейнер */
  object-fit: cover; /* Масштабируем изображение с сохранением пропорций, чтобы оно заполнило контейнер */
 

}

/* Элемент волны */
.wave {
  position: absolute; /* Абсолютное позиционирование */
  width: 100%; /* Ширина элемента равна ширине контейнера */
  height: 5px; /* Высота элемента 5 пикселей */
  background: yellow; /* Устанавливаем желтый цвет фона */
  bottom: 100px; /* Располагаем элемент на 100 пикселей выше нижнего края контейнера */
  left: 0; /* Располагаем элемент слева */
}

/* Контейнер для кнопок */
.pre_page_window_container_button {
  
  position: absolute; /* Абсолютное позиционирование */
  top: 200px; /* Располагаем контейнер на 200 пикселей ниже верхнего края контейнера */
  right: 200px; /* Располагаем контейнер на 200 пикселей левее правого края контейнера */
  width: 500px; /* Ширина контейнера 500 пикселей */
  height: 550px; /* Высота контейнера 450 пикселей */
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

/* Стиль для кнопки входа */
.pre_page_window_button_login {
  
  overflow: hidden;
  position: absolute; /* Абсолютное позиционирование */
  top: 120px; /* Располагаем элемент на 20 пикселей ниже верхнего края контейнера */
  left: 10px; /* Располагаем элемент на 10 пикселей правее левого края контейнера */
  width: 470px; /* Ширина элемента 470 пикселей */
  height: 80px; /* Высота элемента 80 пикселей */
  transition: .5s;
 
}

.pre_page_window_button_login:hover {
  background-color: #2d5e4d;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2d5e4d,
    /* Тень кнопки */
    0 0 15px #2d5e4d,
    0 0 25px #2d5e4d,
    0 0 50px #2d5e4d;
}

.pre_page_window_button_login span {
  position: absolute;
  display: block;
}

.pre_page_window_button_login span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #2d5e4d);
  animation: button_login1 1s linear infinite;
}

@keyframes button_login1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.pre_page_window_button_login span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2d5e4d);
  animation: button_login2 1s linear infinite;
  animation-delay: .25s
}

@keyframes button_login3 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.pre_page_window_button_login span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #2d5e4d);
  animation: button_login3 1s linear infinite;
  animation-delay: .5s
}

@keyframes button_login3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.pre_page_window_button_login span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2d5e4d);
  animation: button_login4 1s linear infinite;
  animation-delay: .75s
}

@keyframes button_login4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}





/* Стиль для кнопки документации */
.pre_page_window_button_documentation {
  position: absolute; /* Абсолютное позиционирование */
  top: 280px; /* Располагаем элемент на 180 пикселей ниже верхнего края контейнера */
  left: 10px; /* Располагаем элемент на 10 пикселей правее левого края контейнера */
  width: 470px; /* Ширина элемента 470 пикселей */
  height: 80px; /* Высота элемента 80 пикселей */
  
}

.pre_page_window_button_documentation :hover,.pre_page_window_button_faq :hover{
  background: #2d5e4d;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2d5e4d,
    /* Тень кнопки */
    0 0 15px #2d5e4d,
    0 0 25px #2d5e4d,
    0 0 50px #2d5e4d;
}

/* Стиль для кнопки FAQ */
.pre_page_window_button_faq {
  position: absolute; /* Абсолютное позиционирование */
  left: 10px; /* Располагаем элемент на 10 пикселей правее левого края контейнера */
  top: 440px; /* Располагаем элемент на 340 пикселей ниже верхнего края контейнера */
  width: 470px; /* Ширина элемента 470 пикселей */
  height: 80px; /* Высота элемента 80 пикселей */

}


/* Общий стиль для кнопок */
.ldf_setting {
  border: none;
  height: 100%; /* Высота кнопки равна высоте контейнера */
  width: 100%; /* Ширина кнопки равна ширине контейнера */
  color:#289bb8; /* Белый цвет текста */
  font-size: 50px; /* Размер шрифта 50 пикселей */
  padding: 0%; /* Убираем отступы */
}
.ldf_setting:hover{
  background-color: #2d5e4d;
}
 